@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom,#ffa36d, #73CFD9, #45b3c0);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;   
}

#login{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 510px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

#imagem {
    background: blue url(../imagens/building.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
}

#form {
    padding: 10px;
    text-align: justify;
    display: block;
}

#form label {
    display: none;
}

#form h1 {
    text-align: center;
    padding-bottom: 5px;
}

#form p {
    font-size: 0.95em;
    padding-bottom: 5px
}

#entrar {
    width: 100%;
    height: 40px;
    background-color: #73CFD9;
    color: white;
    border-radius: 5px;
    border: 2px solid #00393f;
    display: block;
    font-size: 1.2em;
}

#esqueci-senha {
    background-color: transparent;;
    border: 1px solid #00393f;
    display: block;
    text-align: center;
    margin-top:5px;
    border-radius: 5px;
    padding: 3px;
    height: 40px;
}

#esqueci-senha a {
    text-decoration: none;
    color: #016671;
}

#esqueci-senha:hover {
    background-color: #daf4f7;
}
#mail {
    font-size: 0.9em;
}

#entrar:hover {
    background-color: #57a0a9;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.campo {
    background-color: #73CFD9;
    border: 2px solid #00393f;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
}

.campo input {
    background-color: #4db8c6;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    font-size: 1em;
    height: 100%;
}
.campo input:focus {
    background-color: #9ee2e9;
}

#person-ico, #key-ico {
    color: white;
    font-size: 2em;
    width: 40px;
}

