@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom,#ffa36d, #73CFD9, #45b3c0);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;   
}

#login{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
}

#imagem {
    background: blue url(../imagens/building.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
}

#form {
    padding: 10px;
    text-align: justify;
    display: block;
}

#form h1 {
    text-align: center;
}